
/*TODO: Add your styles */
body {
    color: #125688;
    margin: 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;    
}
@media (prefers-color-scheme: dark) {
    :root{color:#125688}
}
h1 {
    color: #125688;
    font-weight: bold;
    margin:50px auto 0 auto;
    font-family: 'Helvetica';
}
h2 {
    color:#125688;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}
h3 {
    color:#125688;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
}
p {
    line-height: 2;
}
.top-container {
    text-align: center;
    background-color: #0F2854;
    position: relative;
    padding-top: 20px;
}
.middle-container {
    margin: 10px 0px 0px 10px;
    padding: 50px 0px 20px 20px;
    text-align: center;
}
.bottom-container {
    background-color: #0F2854;
    padding: 50px 20px 20px 20px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.social-menu {
    display: flex;
    list-style-type: none;
    margin: 5px 20px;
}

.fa-github {
    background: #00aff0;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}